 html,
      body {
        direction: rtl;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: black;
        color: darkgrey;
      }
      
      h1 {
        margin: 0;
      }
      #to-do-list {
        height: 75%;
        overflow: auto;
      }
      .task-container {
        margin-bottom: 5px;
        margin-top: 5px;
        cursor: move;
      }

      .task {
        width: 93%;
        background-color: darkgray;
      }

      button.action {
        margin: 5px;
        cursor: pointer;
      }
      button.task-bt {
        margin-left: 5px;
        cursor: pointer;
        width: 5%;
      }